body{
    background-color: #1abc9c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#numberUser{
    font-size: 10em;
    text-align: center;
    width: 200px;
    border: none;
    background-color: rgba(245, 228, 118, 0.9);
    outline: none;
    color: #9b59b6;
    border-radius: 10px;
    padding: 20px;
    display:none;
}

.error {
    background-color: #e95e4f;
}

.fa-circle-check{
    font-size: 10em;
    color: rgba(245, 228, 118, 0.9);
    display: none;
}

button {
    font-size: 4em;
    color:#9b59b6;
    border-radius: 10px;
    padding: 15px;
    outline: none;
    text-align: center;
    background-color: rgba(245, 228, 118, 0.9);
    display:none;
}

#start {
    display:block;
}

#replay {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nameInput {
    text-align: center;
    font-size: 3.5em;
    width: 500px;
    border: none;
    background-color: rgba(245, 228, 118, 0.9);
    outline: none;
    color: #9b59b6;
    border-radius: 10px;
    padding: 15px;
    display: none;
}

#message {
    font-size: 2.5em;
    text-align: center;
    color: rgba(245, 228, 118, 0.9);
    padding: 20px;
    display:none;
}